/* start with mobile first */

body {
    height: 100vh;
    max-width: 480px;
}

div, header, footer {
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 100%;
}

#a {
    background-color: red;
    height: calc(75 / 1055);
    width: 100%;
}

#b {
    background-color: blue;
    height: calc(150 / 1055);
    width: 100%;
}

#c {
    background-color: green;
    height: calc(125 / 1055);
    width: 100%;
}

#d {
    background-color: orange;
    height: calc(125 / 1055);
    width: 100%;
}

.ef {
    background-color: yellow;
    height: calc(250 / 1055);
    width: 50%;
}

.gh {
    background-color: yellow;
    grid-template-columns: 10% 50%;
    height: calc(250 / 1055);
    width: 50%;
}


#i {
    background-color: purple;
    height: calc(80 / 1055);
    width: 100%;
}